{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<section>
  <article>
    <h1>Menu item</h1>
    <span>
      <a href="{% url 'index' %}">Home</a> /
      <a href="{% url 'menu' %}">Menu</a> /
      {{ menu_item.name }}
    </span>
    <div class="row">
      <div class="column">
        <h2>{{ menu_item.name }}</h2>
        <p>Price: ${{ menu_item.price }}</p>
        <p>Inventory: {{ menu_item.inventory|default:"0" }}</p>
        <p>{{ menu_item.menu_item_description }}</p>
      </div>
      <div class="column">
        <img src="{% static 'img/' %}{{ menu_item.name }}.jpg" alt="{{ menu_item.name }}" />
      </div>
    </div>
  </article>
</section>
{% endblock %}